.custom-body {
    height: 1000px;
}
.search-area{
    width: 100%;
    height: 120px;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #003B95;
}
.button-submit{
    padding: 10px;
    background-color: #fcff36;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 30px;
}

.full{
    height: 100%;
}

.body-main-pic{
    width: 100%;
    height: 500px;
    background-image: url(../../img/blackguy.jpeg);
    background-size: cover;
    filter: brightness(100%)
}

.main-pic-button{
    width: 150px;
    background-color: var(--primary-color);
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
    
}

.main-pic-mini{

}

.main-pic-large{
    font-size: 46px;
    font-weight: bold;
    max-width: 40%;
}

.body-main-pic-item{
    margin-left: 60px;
}
.main-pic-button{
    margin: 20px 60px;
}