.custom-body {
    height: auto;
}
.search-area{
    width: 100%;
    height: 120px;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #003B95;
}
.button-submit{
    padding: 10px;
    background-color: #fcff36;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 30px;
}

.full{
    height: 100%;
}

.body-main-pic{
    width: 100%;
    height: 500px;
    background-image: url(../../img/blackguy.jpeg);
    background-size: cover;
    filter: brightness(100%)
}

.main-pic-button{
    width: 150px;
    background-color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.main-pic-mini{

}

.main-pic-large{
    font-size: 46px;
    font-weight: bold;
    max-width: 40%;
}

.body-main-pic-item{
    margin-left: 60px;
}
.main-pic-button{
    margin: 20px 60px;
}

::-webkit-scrollbar{
    display: none;
} 

.block-content{
    margin-top: 10px;
}

.scroll{
    position: relative;
}

.place{
    overflow-x: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    gap: 20px;
    overflow: scroll;
}

.place-item{
    scroll-snap-align: start;
    text-decoration: none;
    color: black;
}

.place-item h5{
    margin-top: 10px;
}

.place-item:hover{
    text-decoration: none;
    color: black;
}

#btn-left{
    position: absolute;
    top: 40%;
    left: 1%;
    border: none;
    border-radius: 30px;
    padding: 5px;
}

#btn-right{
    position: absolute;
    top: 40%;
    right: 1%;
    border: none;
    border-radius: 30px;
    padding: 5px;
}

.deal-block{
    
}

.carousel-item{
    position: relative;
}

.carousel-content{
    color: white;
    position: absolute;
    top: 0;
    margin: 40px;
    margin-left: 200px;
}

.carousel-content h2{
    font-size: 46px;
    font-weight: bold;
}

.carousel-content span{
    font-size: 48px;
    font-weight: bold;
    color: rgb(251, 255, 0);
    -webkit-text-stroke: 2px rgb(255, 0, 0);
}

.carousel-content button{
    background-color: #003B95;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}