* {
    font-family: "Times New Roman", Times, serif;
}

button.btn.btn-primary {
    width: 470px;
}

button.btn.btn-primary:hover {
    background-color: rgb(198, 241, 241);
}
.email-phone {
    padding-top: 5px;
}
.eaVHU {
    width: 100%;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.line {
    min-width: 1px;
    width: 100%;
    flex: 1 1 0%;
    margin: 0px;
    border-bottom: 1px solid rgb(221, 223, 226);
}
.aeDT {
    padding-top: 10px;
}
.mid-text {
    margin-left: 8px;
    margin-right: 8px;
}
.aeIUH {
    padding-top: 10px;
}
.button-google {
    width: 470px;
}
.button-veaH {
    padding-top: 5px;
}
.veaH {
    width: 233px;
}
.img-button {
    width: 22px;
    aspect-ratio: auto 22 / 22;
    height: 22px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.aePT {
    padding-top: 10px;
    font-size: small;
}
.tag {
    width: 200px;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: #f8f8f8;
    color: rgb(48, 48, 162);
}
.btn.btn-secondary {
    width: 455px;
}

#PhoneFormWrapper {
    display: none;
}

.modal-body {
    border: 1px solid #eaeaea;
    background-color: #fff;
}
.container {
    background-size: 100%;
}
.background {
    background-image: url("../../img/R.jpg");
}
