#select{
    width: 25%;
    border-radius: 20px;
    border: 2px solid #eaeaea;
    margin-top: 20px;
}

.select-block{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #eaeaea;
}

.select-header{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #eaeaea;
}

.select-block label{
    padding-left: 5px;
}