
.icon {
    height: 30px;
    width: 30px;
}

#main {
    padding-top: 20px;
    font-style: oblique;
}
.title {
  font-style: oblique;
  margin-bottom: 20px;
}
.tn {
    list-style-type: none;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
}
.tn p {
    font-size: 14px;
}
.card {
    width: 1100px;
    height: 470px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .card img {
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    width: 90%;
    height: 250px;
    object-fit: cover;
  }
  
  /* .card h3 {
    margin: 10px 0;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
  } */
  
  .card p {
    padding: 10px 0;
    font-size: 14px;
  }
  
  #facilities-description {
    display: flex;
    justify-content: end;
    padding-left: 100px;
  }
  #facilities-description2 {
    margin-top: 180px;
    display: flex;
    justify-content: end;
    padding-left: 100px;
  }
  
.kichthuocTable {
    width: 500px;
}

.pic-center {
  display: flex;
  justify-content: center;
}
.card > p {
  margin-top: 10px;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}