button.btn.btn-primary {
    width: 370px;
}

button.btn.btn-primary:hover {
    background-color: rgb(198, 241, 241);
}
.email-phone {
    padding-top: 5px;
}
.eaVHU {
    width: 100%;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    padding: 0px;
}
.line {
    min-width: 1px;
    width: 100%;
    flex: 1 1 0%;
    margin: 0px;
    border-bottom: 1px solid rgb(221, 223, 226);
}
.aeDT {
    padding-top: 10px;
}
.mid-text {
    margin-left: 8px;
    margin-right: 8px;
}
.aeIUH {
    padding-top: 10px;
}
.button-google {
    width: 370px;
}
.button-veaH {
    padding-top: 5px;
}
.veaH {
    width: 185px;
}

.text h3 {
    text-align: center;
}

.img-button {
    width: 22px;
    aspect-ratio: auto 22 / 22;
    height: 22px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.aePT {
    padding-top: 10px;
    font-size: small;
}
.tag {
    width: 160px;
    margin-bottom: 10px;
    font-weight: bold;
}
.btn:hover {
    color: #fff;
}
.btn.btn-secondary {
    width: 455px;
}

#PhoneFormWrapper {
    display: none;
}

.modal-body {
    border: 1px solid #eaeaea;
    float: right;
    margin: 5% 10%;
}
.bg {
    width: 100%;
    height: 790px;
    position: relative;
    background-image: url("../../img/R.jpg");
    background-size: 100%;
}
