.original-price {
    font-weight: bold; 
    font-size: larger;
}

.product-checkbox{
    transform: scale(1.5);
    margin-right: 10px;
}

.card-text{
    color: gold;
    font-size: 20px;
}

.bg-custom {
    background-color: #0062ff;
    color: white;
    font-weight: 700;
}

.btn-confirm {
    background-color: #0062ff !important; /* Đặt màu nền cho nút và sử dụng !important để ghi đè các quy tắc CSS khác */
    color: #ffffff; /* Đặt màu chữ cho nút */
}


